
<form action="/changePassword" method="post" enctype="multipart/form-data" >
    <input type="text" name="oldPassword" placeholder="mật khẩu cũ">
    <input type="text" name="newPassword" placeholder="mk mới">
    <input type="text" name="confirmPassword" placeholder="xác nhận mk">

    <button type="submit">Đổi mật khẩu</button>
</form>