

<style>
    input{
        display: block;
    }
</style>
<body>
    

<form action="/forgot-password" method="post" enctype="multipart/form-data" >
    <input type="text" name="email" placeholder="username">
    <button type="submit">Reset</button>
</form>