

<style>
    input{
        display: block;
    }
</style>
<body>
<form action="/login" method="post" enctype="multipart/form-data" >
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">login</button>
</form>


