

<style>
    input{
        display: block;
    }
</style>
<body>
    

<form action="/reset-password" method="post" enctype="multipart/form-data" >
    <input type="text" name="newPass" placeholder="Mật khẩu">
    <input type="text" name="confPass" placeholder="Nhập lại mật khẩu">

    <button type="submit">Submit</button>
</form>